<div>
    <div class="container-fluid">
        <div class="row">

            <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="ddl_template">Template 1</a>
                    </li>
                    <li class="nav-item" ng-repeat="subCategory in subCategoryList track by $index">
                        <a class="nav-link">{{subCategory.name}}</a>
                    </li>
                </ul>
            </nav>

            <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
                <h1>Dashboard</h1>
                <section class="row text-center placeholders">
                    <br>
                    <div class="input-group" style="width: 300px;">
                        <span class="input-group-addon" id="basic-addon1">Text:</span>
                        <input ng-model="text" type="text" class="form-control" placeholder="Some text">
                    </div>
                    <div style="padding-left: 20px;">
                        <button ng-click="sendText()" type="button" class="btn btn-success">Send</button>
                    </div>
                </section>

                <section class="row text-center placeholders">
                    <ui-view></ui-view>
                </section>

            </main>
        </div>
    </div>
</div>
