<form xmlns:th="http://www.thymeleaf.org"
      th:fragment="form"
      th:action="@{/login}"
      method="post"
      class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="text"
           id="inputEmail"
           class="form-control"
           placeholder="Username"
           required=""
           name="username"
           autofocus="">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password"
           id="inputPassword"
           class="form-control"
           placeholder="Password"
           required=""
           name="password">
    <div class="checkbox">
        <label>
            <input type="checkbox"
                   value="remember-me"
                   id="remember_me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block btnSubmit" type="submit">Sign in</button>
    <!--/*@thymesVar id="loginError" type="java.lang.String"*/-->
    <div class="errorBlock" th:if="${loginError}">Wrong user or password</div>
</form>