<nav xmlns:th="http://www.thymeleaf.org"
     th:fragment="navbar"
     class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right hidden-lg-up"
            type="button"
            data-toggle="collapse"
            data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-brand brandDiv">SQL Tutorial</div>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li ui-sref-active="active" class="nav-item">
                <a ui-sref="ddl" class="nav-link">DDL</a>
            </li>
            <li ui-sref-active="active" class="nav-item">
                <a ui-sref="dml" class="nav-link">DML</a>
            </li>
            <li ui-sref-active="active" class="nav-item">
                <a ui-sref="dcl" class="nav-link">DCL</a>
            </li>
            <li ui-sref-active="active" class="nav-item">
                <a ui-sref="tcl" class="nav-link">TCL</a>
            </li>
            <li ui-sref-active="active" class="nav-item">
                <a ui-sref="console" class="nav-link">CONSOLE</a>
            </li>
            <li ui-sref-active="active" class="nav-item">
                <a ui-sref="info" class="nav-link">INFO</a>
            </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0"
              action="/logout"
              method="post">
            <button class="btn btn-outline-danger my-2 my-sm-0 btnSignUp" type="submit">SignUp</button>
        </form>
    </div>
</nav>
