<nav xmlns:th="http://www.thymeleaf.org"
     th:fragment="navbar"
     class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right hidden-lg-up"
            type="button"
            data-toggle="collapse"
            data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">SQL Tutorial</a>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">DDL</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">DML</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">TCL</a>
            </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0"
              action="/logout"
              method="post">
            <button class="btn btn-outline-danger my-2 my-sm-0 btnSignUp" type="submit">SignUp</button>
        </form>
    </div>
</nav>